@import "../vars.scss";

.banner {
  position: relative;
}

.banner__img {
  object-fit: cover;
  height: 40vh;
  border-radius: 0px;
}

.banner__heading {
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.banner__tittle {
  font-size: 3.5rem;
}
