@import "../vars.scss";

.banner {
  position: relative;
}

.banner__img {
  object-fit: cover;
  height: 40vh;
}

.banner__heading {
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__tittle {
  font-size: 3.5rem;
}
