@import "../vars.scss";

.footer {
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  display: flex;
  min-height: 100px;
  width: 100%;
}

.footer p {
  color: $primary-color;
  cursor: pointer;
  font-size: 14px;
}
