@import "../vars.scss";

.header {
  align-items: center;
  background: $secondary-color;
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 100%;
  min-height: 100px;
}

.header__img {
  width: 150px;
}
