// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

// Font Variables
$theme-font: "Muli", sans-serif;

// Color Variables
// $primary-color: #fff;
// $secondary-color: #5a2c7e;

$primary-color: #5a2c7e;
$secondary-color: #fff;

// $gradiente: linear-gradient(
//   0deg,
//   rgba(90, 44, 126, 1) 0%,
//   rgba(255, 255, 255, 1) 100%
// );

$gradiente: linear-gradient(rgba(90, 44, 126, 1), rgba(255, 255, 255, 1));
// $gradiente: linear-gradient(rgba(255, 255, 255, 1), rgba(90, 44, 126, 1));
