// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

// Font Variables
$theme-font: "Muli", sans-serif;

// Color Variables
$primary-color: #5a2c7e;
$secondary-color: #fff;
